#div_carroussel
{
    position: relative;
    height: 30%;
    width: 98%;
}

#p_points
{
    position: relative;
    border-top: none;
    border-bottom: none;
    border-radius: 0px;
    padding: 1%;
}

#div_boutique
{
    width: 98%;
    position: relative;
    margin-top: 3%;
    height: 60%;
    padding: 1%;
    padding-left: 0;

}

.div_produit
{
    display: inline-block;
    border: 6px solid #ffffff;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 40px;
    width: 30%;
    height: 35%;
}

.div_produit:hover
{
    background-color: #a348ca;
    color: #bababa;
}

#div_stock_dispo
{
    display: inline-block;
    border: 6px solid #21C332;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 40px;
    position: relative;
}

#div_stock_dispo:hover,#div_stock_vide:hover
{
    border: none;
}


#div_stock_vide
{
    display: inline-block;
    border: 6px solid #CB2222;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 40px;
    position: relative;
}

#h1_nom
{
    font-size: 2em;
}

#btn_buy
{
    margin-bottom: 5%;
    margin-left: 20%;
}

#h3_stock_bon
{
    color: #21C332;
}

#h3_stock_mauvais
{
    color: #CB2222;
}

#photo_product
{
    width: 400px;
    height: 200px;
    margin-bottom: 2%;
}

#div_description
{
    position: absolute;
    width: 100%;
    padding: 0;
    height: 30%;
}

#h2_points
{
    margin-top: 30%;
}

#h2_badge
{
    position: relative;
    margin-top: 8%;
    margin-right: 1%;
    float: right;
}

#h2_prix_mauvais
{
    margin-top: 30%;
}