#img_product
{
    float: left;
}

#h1_nom
{
    width: 20%;
    margin-left: 40%;
}

#div_description
{
    float: right;
    position: relative;
    width: 30%;
}

#p_retour:hover
{
    text-decoration: underline;
    transform: scale(1.2);
}

