section
{
    margin-top: 0%;
}

#div_hello
{

    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    color: #a348ca;
}

#div_points
{
    position: relative;
    height: 6%;
    width: 97%;
    margin-bottom: 5%;
}

#div_points h1
{
    margin-top: 1%;
}

#div_rdv
{
    position: relative;
    height: 25%;
    width: 97%;
    margin-top: 2%;
}

#div_hist_achats
{
    position: absolute;
    margin-top: 5%;
    width: 97%;
    height: 40%;
    overflow:scroll;
    padding: 1%;
}

#div_historique
{
    position: absolute;
    margin-left: 69%;
    width: 30%;
    height: 50%;
    overflow: scroll;
    padding: 0;
}

#div_temps_passe
{
    position: absolute;
    width: 31%;
    height: 50%;
}

.p_stat
{
    margin-top: 45%;
}

#p_lien_reservation:hover
{
    transform: scale(1.1);
    text-decoration: underline;
}

#p_total
{
    position: absolute;
    width: 31%;
    margin-top:50%;
}

#p_points_total
{
    position: relative;
    margin-left: 69%;
    width: 28%;
    margin-top: 50%;
}

#p_reset_mdp
{
    position: relative;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
}

#div_center
{
    position: absolute;
    width: 32%;
    margin-left: 35%;
    height: 100%;
}

#table_historique
{
    width: 100%;
    height: 35%;
    text-align: center;
    position: relative;
    font-size: 0.6em;
}

#txt_rdv
{
    color: green;
}

#txt_rdv:hover
{
    color: #D02821;
}
