#div_reservation
{
    text-align: center;
    position: relative;
    width: 40%;
    margin-left: 30%;
    padding: 1%;
    margin-top: 5%;
    
}

#btn_reservation
{
    margin-top: 5%;
}

nav
{
    border-top: 4px solid #bababa;
    border-bottom: 4px solid #bababa;
    margin-top: 1%;
    text-align: center;
    height: 9%;
    font-family: monospace;
    color: #a248ca;
    font-size: 2em;
    font-weight: bold;
    width: 85%;
    margin-left: 7%;
    padding: 1%;
}
