#div_confirm
{
    position: relative;
}

#div_choice
{
    width: 20%;
    margin-left: 38%;
    padding: 1%;
}

#txt_oui
{
    display: inline-block;
    margin-right: 35%;
    color: #008000;
}

#txt_non
{
    display: inline-block;
    color: #ff0000;
}
  
.flosrent_label:hover
{
    transform: scale(1.2);
    text-decoration: underline;
}