
#div_login
{
    text-align: center;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
}

#p_scan
{
    width: 40%;
    height: 35%;
    display: inline-block;
    
}

#p_login
{
    width: 40%;
    height: 35%;
    display: inline-block;
}

h1
{
    color: #a348ca;
    font-size: 3em;
}



