html
{
    height: 100%;
    width: 100%;
}

a:visited
{
    text-decoration: none;
}

a:link
{
    text-decoration: none;
}

body
{
    position: relative;
    height: 100%;
    width: 100%;
}

#div_main
{
    width: 100%;
    height: 100%;
    position: relative;
}

nav
{
    border-top: 4px solid #bababa;
    border-bottom: 4px solid #bababa;
    margin-top: 1%;
    text-align: center;
    font-family: monospace;
    color: #a248ca;
    font-size: 2em;
    font-weight: bold;
    width: 85%;
    margin-left: 7%;
    margin-bottom: 1%;
}

.p_nav
{
    display: inline-block;
    border-right: 3px solid #bababa;
    padding-right: 1%;
    border-left: 3px solid #bababa;
    padding-left: 1%;
}

.p_nav:hover
{
    color: #bababa;
    background-color: #a348ca;
    transform: scale(1.3);
}

#img_deconnexion
{
    float: right;
    margin-top: 1%;
    width: 2em;
    position: relative;
}

#img_deconnexion:hover
{
    transform: scale(1.2);
}

section
{
    position: relative;
    width: 100%;
    margin-top: 3%;
    text-align: center;
}

.flosrent_bg
{
    position: absolute;
    text-align: center;
    z-index: 2;
    background-color: #bababa;
    border: 4px solid #a348ca;
    border-radius: 20px;
    opacity: 70%;
    font-family: monospace;
    color: #a348ca;
}

.flosrent_btn
{
    padding: 1%;
    background-color: #bababa;
    font-weight: bold;
    font-size: 2em;
    color: #a348ca;
    text-align: center;
    border: 4px solid #a348ca;
    opacity: 70%;
    font-family: monospace;
}

.flosrent_btn:hover
{
    background-color: #a348ca;
    color: #bababa;
}

.flosrent_label
{
    font-size: 1.2em;
    color: #a348ca;
    font-family: monospace;
    vertical-align: bottom;
}

.flosrent_input
{
    border: 2px solid #a348ca;
    text-align: center;
    background-color: #FFF;
    opacity: 60%;
    padding: 0.4em;
}

.flosrent_input:hover
{
    transform: scale(1.1);
}

.flosrent_div
{
    border-right: 4px solid #a348ca;
    border-left: 4px solid #a348ca;;
    border-radius: 0%;
    position: relative;
    background-color: #bababa;
    opacity: 70%;
    text-align: center;
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bold;
    color: #a348ca;
    padding: 1%;
    width: 97%;
}

.flosrent_txt
{
    position: relative;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
    color: #a348ca;
    font-weight: bold;
    padding: 1%;
    border-radius: 20px;
}

#div_erreur
{
    position: relative;
    background-color: #FFF;
    border: solid 2px #a348ca;
    width: 20%;
    margin-left: 40%;
    color: red;
}

.flosrent_table
{
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

.flosrent_td_white
{
    border: solid 2px #a348ca;
    background-color: #fff;
    opacity: 70%;
    padding: 0;
    text-align: center;
}

.flosrent_td_purple
{
    border: solid 2px #a348ca;
    background-color: #a348ca;
    opacity: 60%;
    color: #FFF;
    padding: 0;
    text-align: center;
}

.flosrent_th
{
    border: solid 2px #a348ca;
    background-color: #bababa;
    opacity: 70%;
    padding: 1%;
    font-weight: bold;
    text-align: center;
}

.flosrent_tr:hover
{
    background-color: rgb(30, 171, 236);
    color: #a348ca;
}

.flosrent_tr
{
    padding: 0;
}

.flosrent_td_white a
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.flosrent_error
{
    position: relative;
    font-size: 2em;
    text-align: center;
    font-family: monospace;
    color: #CB2222;
    font-weight: bold;
    padding: 1%;
    border-radius: 20px;
}