footer
{
    position: relative;
    width: 99%;
    margin-top: 3%;
}

#div_img_secure
{
    float: left;
    width: 15%;
    position: absolute;
}

#p_secure
{
    float: left;
    margin-top: 7%;
    margin-left: 6%;
}

#div_copyright
{
    float: left;
    width: 25%;
    margin-left: 17%;
    margin-top: 5%;
}

#p_date
{
    position: absolute;
    display: inline-block;
    margin-top: 2%;
    margin-left: 1%;
}

#div_contact
{
    width: 15%;
    position: relative;
    float: right;
    margin-top: 5%;
}

#p_contact
{
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
}

#img_copyright
{
    width: 20%;
}

#img_footer
{
    width: 35%;
}

#img_secure
{
    width: 70%;
    float: left;
    margin-top: 15%;
}

#img_contact
{
    width: 13%;
    margin-top: 4%;
}




