#form_identifiant
{
    position: absolute;
    text-align: center;
    width: 25%;
    margin-left: 40%;
    margin-top: 15%;
}

#h1_connexion
{
    font-size: 3em;
    margin-bottom: 1%;
}

.flosrent_input
{
    margin-bottom: 5%;
}

.flosrent_btn
{
    margin-bottom: 3%;
}