#form_password
{
    position: relative;
    text-align: center;
    width: 25%;
    margin-left: 40%;
    padding: 2%;
}

.div_password
{
    margin-bottom: 3%;
}

.flosrent_input
{
    margin-left: 1%;
}

