
#div_form
{
    text-align: center;
    position: absolute;
    width: 30%;
    margin-left: 35%;
    margin-top: 12%;
}

h1
{
    font-size: 3em;
}

section p
{
    font-size: 4em;
    font-weight: bold;
    margin-top: 0;
}

#img_scan
{
    width: 35%;
}