#container_bg
{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#movie_bg
{
    opacity: 30%;
    position: relative;
    border: 4px solid #a348ca;
    border-radius: 20px;
    width:99%;
}
