#p_new_article
{
    margin-left: 35%;
    width: 30%;
}

#div_nouveau_article
{
    margin-top: 1%;
    width: 97%;
    padding: 1%;
}

#div_boutique
{
    width: 97%;
    margin-top: 2%;
    text-align: center;
}

#table_article
{
    text-align: center;
    width: 100%;
}
