#div_add_btn
{
    text-align: center;
    position: relative;
    width: 33%;
    margin-left: 34%;
}

#div_add
{
    width: 97%;
}

#div_add_btn:hover
{
    transform: scale(1.1);
}

#img_add
{
    width: 13%;
    position: relative;
    float: left;
}


#div_clients
{
    margin-top: 2%;
    width: 97%;
    text-align: center;
}
#p_calendrier
{
    font-family: monospace;
    font-weight: bold;
    font-size: 3em;
    color: #a348ca;
}

#p_clients
{
    position: relative;
    margin-top: 0;
}

#table_clients
{
    width: 100%;
}





