
#div_calendrier
{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin-top: 33%;
}

#div_passage
{
    position: absolute;
    margin-top: 2%;
    height: 30%;
    overflow:scroll;
    padding: 0;
    width: 100%;
}

#table_passages
{
    width: 100%;
    position: relative;
    height: 30%;
}

#rdv_en_cours
{
    color: #63CADE;
}

#rdv_valide
{
    color: #299040;
}

#rdv_annule
{
    color: #D02821;
}

#p_reset_mdp
{
    margin-left: 35%;
    margin-top: 3%;
    width: 30%;
}

#p_reset_mdp:hover
{
    text-decoration: none;
}