#label_description
{
    vertical-align: top;
}

div
{
    margin-top: 2%;
}

#btn_add
{
    margin-top: 1%;
}

#div_modify
{
    width: 47%;
    float: left;
}

#div_infos
{
    position: relative;
    width: 99%;
    text-align: center;
}

#photo_product
{
    margin-top: 0;
    position: relative;
    float: left;
}

#h1_name
{
    vertical-align: top;
    margin-left: 40%;
    width: 20%;
    height: 150px;
}

#div_historique
{
    display: block;
    width: 47%;
    overflow: scroll;
    height: 505px;
    margin-left: 50%;
}

#div_infos_article
{
    border: 2px solid white;
    position: relative;
    width: 99%;
}

#txt_delete
{
    font-weight: bold;
    color: #ff0000;
    border: 4px solid #a348ca;
    width: 15%;
    font-size: 1.6em;
    opacity: 70%;
    padding: 1%;
    position: relative;
    margin-left: 42%;
}

#txt_delete:hover
{
    transform: scale(1.2em);
    background-color: #a348ca;
    color: #bababa;
}

#p_nbr_ventes
{
    float: right;
    margin-top: 5%;
}

#div_photo
{
    position: relative;
}

#btn_modify_photo
{
    padding: 0;
    margin-top: 1%;
}