#div_name
{
    position: relative;
    float: left;
}

#div_etat
{
    float: right;
    width: 20%;
}

#txt_points
{
    margin-left: 12%;
    display: inline-block;
    width: 20%;
    height: 10%;
}

#txt_prenom
{
    margin-top: 0;
}

#txt_etat
{
    margin-top: 0;
    float: right;
    margin-right: 10%;
}

#div_rdv
{
    float: left;
    position: absolute;
    width: 45%;
    margin-top: 2%;
    overflow:scroll;
    height: 30%;
}

#div_achats
{
    float: right;
    position: absolute;
    overflow:scroll;
    width: 47%;
    height: 30%;
    margin-top: 2%;
    margin-left: 50%;
}

#div_passages
{
    margin-top: 30%;
    overflow:scroll;
    height: 30%;
    position: absolute;
}

#img_present,#img_absent
{
    width: 10%;
    position: relative;
    float: left;
    margin-left: 20%;
    margin-top: 4%;
}

#txt_stop
{
    position: relative;
    width:15%;
    height: 20%;
    color: #ff0000;
    margin-left: 85%;
    margin-top: 0;
}

#txt_stop:hover
{
    transform: scale(1.2);
    text-decoration: underline;
}

#txt_delete
{
    font-weight: bold;
    color: #ff0000;
    border: 4px solid #a348ca;
    width: 15%;
    font-size: 1.6em;
    opacity: 70%;
    padding: 1%;
    position: relative;
    margin-left: 42%;
    margin-top: 55%;
}

#txt_delete:hover
{
    transform: scale(1.2em);
    background-color: #a348ca;
    color: #bababa;
}

#table_passages
{
    width: 100%;
    position: relative;
    height: 30%;
}