#form_identifiant
{
  position: relative;
  margin-top: 0;
}

h1
{
  position: relative;
  margin-top: 0;
}

#div_add
{
  text-align: center;
}

#btn_add
{
  margin-top: 1%;
}

#div_status
{
  margin-top: 1%;
}
