#div_top_stats
{
    width: 60%;
    height: 35%;
    margin-left: 20%;
}

#div_affluence
{
    width: 30%;
    height: 35%;
    margin-left: 35%;
    margin-top: 2%;
}

#div_top_boutique
{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: 2%;
}

#div_temps_total
{
    display: inline-block;
    width: 40%;
    height: 40%;
}