.calendar {
  position: relative;
}

.calendar__table {
  width: 100%;

}

.calendar__table td {
  padding: 1%;
  border: 1px solid #a348ca;
  vertical-align: top;
  width: 14.29%;
  height: 40%;
  white-space: nowrap
}

.calendar__table td.is-today {
  background-color: #FFF;
  opacity: 50%;

}

.calendar__table--6weeks td {
  height:  16.66%;

}

.calendar__weekday {
  font-weight: bold;
  color: #000;
  font-size: 1.2em;
}

.calendar__day {
  font-size: 1.3em;
  color: cornflowerblue;
}

.calendar__othermonth .calendar__day {
  opacity: 0.5;
  color: #000; 
}

.calendar__event
{
  width: 100%;
  text-align: center;
}
